.top__background {
    background-image: url('../../assets/image/login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top__form {
    background-color: rgba(228, 235, 247, 0.5);
}